<h1>Hello from Alaska!</h1>
<p>Hiya <%= @recipient %>!</p>
<p>Things and stuff and more things and stuff</p>
<p>Regards, <%= @sender %></p>
<p><a href="/photo">photo here</a></p>
<p><a href="/">return to main letter</a></p>
