<h1>Customize your Alaska letter!</h1>
<p>Fill in your name and your recipient's name to create your custom greeting</p>
<form action='/alaska'>
  <div class="form-group">
    <label for="sender">Your name</label>
    <input id="sender" name="sender" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="recipient">Receipent name</label>
    <input id="recipient" name="recipient" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
