<h1>Hello From Afar</h1>
<p>Dear <%= @friend %>,</p>
<p>Things and stuff and more things and stuff</p>
<p>Regards, Susha</p>
<p><a href='/photo'>photo here</a></p>
<p>Customize your Alaska letter <a href='/greeting_form'>here</a></p>
